@use "@/design/function/flex" as *;
@use "@/design/fonts/typography" as *;

.read {
  @include flex-column;
  background-color: var(--Fill-Normal);
  padding: 30px 20px 20px 20px;
  gap: 20px;
  width: 100%;

  .header {
    @include flex-between;
    padding: 0 10px;

    .preview {
      gap: 10px;
      @include flex-row;

      span {
        @include HeadLine2-Bold;
        color: var(--Label-Neutral);
      }
    }

    .button_section {
      @include flex-row;
      gap: 10px;
    }
  }

  .contents {
    @include flex-column;
    padding: 30px;
    gap: 30px;
    background-color: var(--Background-Normal);
    border: 1px solid var(--Line-Normal);
    border-radius: var(--Shape-Small);
  }

}