// Elevation Black 1
$elevation-black-1-color: rgba(0, 0, 0, 0.02);
$elevation-black-1-x: 0px;
$elevation-black-1-y: 3px;
$elevation-black-1-blur: 10px;
$elevation-black-1-spread: 0px;

// Elevation Black 2
$elevation-black-2-color: rgba(0, 0, 0, 0.04);
$elevation-black-2-x: 0px;
$elevation-black-2-y: 4px;
$elevation-black-2-blur: 12px;
$elevation-black-2-spread: 0px;

// Elevation Black 3
$elevation-black-3-color: rgba(0, 0, 0, 0.06);
$elevation-black-3-x: 0px;
$elevation-black-3-y: 6px;
$elevation-black-3-blur: 18px;
$elevation-black-3-spread: 0px;