@use "@/design/function/flex" as *;
@use "@/design/fonts/typography" as *;

.project {
  @include flex-column;
  padding: 20px;
  width: 100%;
  gap: 30px;
  border-radius: var(--Shape-Medium);
  border: 1px solid var(--Line-Normal);
}

.drop {
  width: 100%;
  @include flex-between;
  cursor: pointer;

  span {
    @include Label-Bold;
    color: var(--Label-Normal);
  }
}

.arrow {
  transition: transform 0.3s ease;
}

.collapsed {
  transform: rotate(180deg);
}

.projectContent {
  @include flex-column;
  overflow: hidden;
  gap: 20px;
}

.group {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.date {
  @include flex-column;
  width: 100%;
  gap: 10px;

  p {
    @include Caption1-Bold;
    color: var(--Label-Normal);
  }

  .time {
    @include flex-center;
    gap: 10px;
    width: 100%;

    span {
      @include Label-Medium;
      color: var(--Label-Assistive);
    }
  }
}

.url {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;

  .urlTop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .urlTitle {
      @include Label-Bold;
      color: var(--Label-Normal);
    }
  }

  .urlBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.img {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;

  .imgTop {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 10px;

    .imgTitle {
      @include Label-Bold;
      color: var(--Label-Normal);
    }

    .imgSubTitle {
      @include Caption1-Bold;
      color: var(--Label-Assistive);
    }
  }

  .preview {
    @include flex-center;
    width: 100%;
    height: 300px;
    display: flex;
    border-radius: var(--Shape-Small);
    cursor: pointer;

    .previewImg {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: var(--Shape-Small);
    }

    .default {
      @include flex-center;
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: var(--Shape-Small);
      background-color: var(--Fill-Normal);
    }
  }
}
