@use "@/design/function/flex" as *;
@use "@/design/fonts/typography" as *;
@use "@/design/shape/shape" as *;

.btn {
  border: none;
  @include flex-center;
  cursor: pointer;

  &--ExtraLarge { @include HeadLine2-Bold; padding: 10px 24px; border-radius: var(--Shape-Large) };
  &--Large { @include Body-Bold; padding: 14px 20px; border-radius: var(--Shape-Medium) };
  &--Medium { @include Label-Bold; padding: 10px 16px; border-radius: var(--Shape-Small) };
  &--Small { @include Caption1-Bold; padding: 8px 12px; border-radius: var(--Shape-ExtraSmall) };

  &--filled {
    &.btn--Primary {
      background-color: var(--Primary-Normal);
      color: var(--Static-White);
    }
    &.btn--Alternative {
      background-color: var(--Primary-Alternative);
      color: var(--Static-White);
    }
    &.btn--Normal {
      background-color: var(--Fill-Gray);
      color: var(--Label-Neutral);
    }
    &.btn--White {
      background-color: var(--Static-White);
      color: var(--Static-Black);
    }
  }

  &--outline {
    background-color: transparent var(--Fill-Support);
    border: 1px solid var(--Primary-Normal);
    color: var(--Primary-Normal);
  }
}