@use "@/design/function/flex" as *;
@use "@/design/fonts/typography" as *;

.container {
  @include flex-column;
  width: 100%;
  gap: 30px;
}

.add {
  @include flex-between;
  width: 100%;

  .title {
    @include Body-Bold;
    color: var(--Label-Normal);
  }
}

.title {
  @include Body-Bold;
  color: var(--Label-Normal);
}
