@use "@/design/function/flex" as *;
@use "@/design/fonts/typography" as *;

.container {
  width: 100%;
  gap: 15px;
  justify-content: center;
  @include flex-column;

  p {
    @include Body-Bold;
    color: var(--Label-Normal);
  }
}
.editorWrapper {
  @include flex-column;
  gap: 10px;
  width: 100%;
  border: 1px solid var(--Line-Normal);
  border-radius: var(--Shape-Medium);
  overflow: hidden;
}

.toolbar {
  @include flex-row;
  align-items: center;
  padding: 10px;
  background-color: var(--Fill-Normal);
  color: var(--Line-Normal);
  gap: 10px;
  cursor: pointer;
  button {
    border: none;
    background: none;
  }
}

.editor {
  @include Label-Medium;
  white-space: pre-wrap;
  word-break: break-word;
  min-height: 180px;
  padding: 20px;
  outline: none;
  color: var(--Label-Normal);

  &:empty::before {
    content: attr(data-placeholder);
    color: var(--Label-Alternative);
    pointer-events: none;
  }

  ul, ol {
    padding-left: 1.2em;
    list-style-position: inside;
  }

  li {
    line-height: 1.5;
    word-break: break-word;
  }
}